#deleteButton {
    -fx-background-color: #dc3545; /* Bootstrap danger color */
    -fx-border-color: #dc3545;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-padding: 8 8;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#deleteButton:hover {
    -fx-background-color: #c82333;
    -fx-border-color: #c82333;
}

#deleteButton:pressed {
    -fx-background-color: #bd2130;
    -fx-border-color: #bd2130;
}